

[Unit]
Description=ZDAQ slow control monitoring daemon
After=tlp-init.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/local/zdaq/bin/lscd.sh&'

[Install]
WantedBy=multi-user.target

